$primary-background: #f8e3d4;
$primary-font: #201d16;

$secondary-background: #bdab7c;
$secondary-selected: #ac9a6b;
$secondary-font: #212121;

$button-background: #be5231;
$button-selected: #ad4120;
$button-font: #e9dce0;

$s-button-background: #69615b;
$s-selected: #58504a;
$s-button-font: #f5eec9;