/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #bdab7c;
  color: #212121;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.5rem;
}
nav .mobileNavBox {
  display: none;
}
nav .navBox, nav #loginBox {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto 2.21rem;
}
nav .navBox p, nav .navBox button, nav #loginBox p, nav #loginBox button {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  border: 5px inset #bdab7c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}
nav .navBox p:hover, nav .navBox button:hover, nav #loginBox p:hover, nav #loginBox button:hover {
  background-color: #ac9a6b;
  border-color: #ac9a6b;
}
nav .navBox button, nav #loginBox button {
  background-color: inherit;
  font-family: inherit;
  padding: 0 1.5rem;
}
nav .navBox .selected, nav #loginBox .selected {
  background-color: #ac9a6b;
  border-color: #ac9a6b;
}
nav .staticBoxes {
  width: 75%;
  justify-content: space-around;
}

footer {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  background-color: #bdab7c;
  color: #212121;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: flex-end;
}
footer .cr div {
  display: flex;
  flex-direction: row;
}
footer .cr, footer .legal {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
footer .legal a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 48rem;
  width: 100%;
  background-image: url("./img/hero.jpg");
  background-position: center;
  background-size: cover;
}
.hero .ctaBox {
  display: flex;
  flex-direction: column;
  background-color: #f8e3d4;
  color: #201d16;
  width: 45%;
  height: 15rem;
  opacity: 0.9;
  transition: 0.5s;
  border-radius: 10px;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 2rem;
}
.hero .ctaBox h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.hero .ctaBox h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}
.hero .ctaBox .ctaButtons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .ctaBox .ctaButtons button {
  border-style: outset;
  border-radius: 5px;
  width: 35%;
  padding: 0.5rem 0;
  margin-top: 0.75rem;
  transition: 0.5s;
  cursor: pointer;
}
.hero .ctaBox .ctaButtons .ctaPrimary {
  border-color: #e9dce0;
  background-color: #be5231;
  color: #e9dce0;
}
.hero .ctaBox .ctaButtons .ctaPrimary:hover {
  background-color: #ad4120;
}
.hero .ctaBox .ctaButtons .ctaSecondary {
  border-color: #f5eec9;
  background-color: #69615b;
  color: #f5eec9;
}
.hero .ctaBox .ctaButtons .ctaSecondary:hover {
  background-color: #58504a;
}
.hero .ctaBox:hover {
  opacity: 1;
}

.about {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f8e3d4;
  color: #201d16;
  font-family: "Fira Sans", sans-serif;
  flex-grow: 1;
}
.about h2 {
  font-size: 2.5rem;
  margin: 1.5rem 0 1.5rem 2rem;
}
.about p {
  font-size: 1.25rem;
  margin: 0.5rem 3rem 0 2.5rem;
}
.about p a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}
.about .secondaryBtn {
  border-style: outset;
  border-radius: 10px;
  margin-left: 2.5rem;
  width: 35%;
  padding: 0.5rem 0;
  margin-top: 0.75rem;
  transition: 0.5s;
  cursor: pointer;
  border-color: #f5eec9;
  background-color: #69615b;
  color: #f5eec9;
}
.about .secondaryBtn:hover {
  background-color: #58504a;
}

.loginPage {
  background-color: #f8e3d4;
  color: #201d16;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  width: 45%;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 3.1rem;
}
.loginPage form {
  display: flex;
  flex-direction: column;
  width: 44%;
}
.loginPage form label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 0.75rem;
}
.loginPage form input[type=text], .loginPage form input[type=password] {
  background-color: #bdab7c;
  color: #212121;
  transition: 0.5s;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}
.loginPage form input[type=text]:hover, .loginPage form input[type=text]:focus, .loginPage form input[type=password]:hover, .loginPage form input[type=password]:focus {
  background-color: #ac9a6b;
}
.loginPage form input[type=submit] {
  background-color: #be5231;
  color: #e9dce0;
  border-color: #e9dce0;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: 50%;
  align-self: center;
  margin-top: 0.6rem;
  transition: 0.5s;
  cursor: pointer;
}
.loginPage form input[type=submit]:hover, .loginPage form input[type=submit]:focus {
  background-color: #ad4120;
}
.loginPage p {
  margin-top: 0.75rem;
  cursor: pointer;
  text-decoration: italic;
}

#recipiePage {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
#recipiePage h2 {
  font-size: 2rem;
  margin: 0.5rem 0 0 1.5rem;
}
#recipiePage .recBox {
  border: 3px solid #be5231;
  border-right: none;
  border-bottom: none;
  width: 80%;
  align-self: flex-end;
  margin: 0.75rem 0;
  cursor: pointer;
}
#recipiePage .recBox h4 {
  font-size: 1.25rem;
  background-color: #ad4120;
  color: #e9dce0;
  padding: 0.75rem;
}
#recipiePage .recBox p {
  font-size: 1rem;
  background-color: #bdab7c;
  color: #212121;
  padding: 0.65rem;
}

#recipieDetails {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  background-color: #69615b;
  color: #f5eec9;
  width: 80%;
  margin: 1rem auto;
}
#recipieDetails .closeBtn {
  position: absolute;
  right: 12%;
  margin-top: 10px;
  border: 4px solid #201d16;
  background-color: #58504a;
  border-radius: 50%;
  padding: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#recipieDetails .recBox h4 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  background-color: #ad4120;
  color: #e9dce0;
  margin-right: 20%;
}
#recipieDetails .recBox .recdesc {
  margin: 0;
  padding: 1.5rem 0.5rem;
  background-color: #58504a;
}
#recipieDetails .recBox .ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#recipieDetails .recBox .ingredients .ingredient {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  width: 20%;
  height: 10%;
}
#recipieDetails .recBox .ingredients .ingredient div {
  width: 20%;
  margin-right: 10%;
  border: 2px solid #f8e3d4;
  border-top-color: #201d16;
  border-top-left-radius: 10px;
  align-self: flex-start;
  min-width: 42px;
}
#recipieDetails .recBox .ingredients .ingredient .ing0 {
  height: 1.3rem;
  border-bottom: 0.2rem solid #ad4120;
}
#recipieDetails .recBox .ingredients .ingredient .ing1 {
  height: 0.9rem;
  border-bottom: 0.6rem solid #ac9a6b;
}
#recipieDetails .recBox .ingredients .ingredient .ing2 {
  border-bottom: 1.3rem solid #f8e3d4;
  height: 0.2rem;
}
#recipieDetails .recBox .directions {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 2rem;
  padding-bottom: 3rem;
}
#recipieDetails .recBox .directions .dir {
  margin-top: 1.5rem;
}
#recipieDetails .recBox .directions .subDir {
  list-style-type: circle;
  margin-left: 1.5rem;
}

.addRecipie h2 {
  font-size: 2.5rem;
  margin: 1.5rem 0 1.5rem 2rem;
}
.addRecipie #addRecForm {
  display: flex;
  flex-direction: column;
}
.addRecipie #addRecForm label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1.5rem 2.5rem;
  font-size: 2.2rem;
}
.addRecipie #addRecForm label input[type=text] {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  width: 50%;
  height: 2.5rem;
  font-size: 2.2rem;
  border: none;
  border-radius: 10px;
  padding-left: 0.5rem;
  background-color: #daaf61;
  color: #222015;
}
.addRecipie #addRecForm label input[type=number] {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  width: 5rem;
  height: 2.5rem;
  font-size: 2.2rem;
  border: none;
  border-radius: 10px;
  padding-left: 0.5rem;
  background-color: #daaf61;
  color: #222015;
  -moz-appearance: textfield !important;
  -webkit-appearance: none;
}
.addRecipie #addRecForm label input[type=number]::-webkit-outer-spin-button,
.addRecipie #addRecForm label input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.addRecipie #addRecForm #ingredientListAdd div {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  margin-top: 0.5rem;
}
.addRecipie #addRecForm #ingredientListAdd div input[type=text] {
  padding-left: 0.5rem;
  margin-right: 1rem;
  background-color: #daaf61;
  color: #222015;
  border-radius: 10px;
  width: 30%;
  font-size: 2.2rem;
}
.addRecipie #addRecForm #ingredientListAdd div select {
  background-color: #daaf61;
  color: #222015;
  border-radius: 10px;
  width: 20%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1.4rem;
}
.addRecipie #addRecForm #directionListAdd {
  display: flex;
  flex-direction: column;
}
.addRecipie #addRecForm #directionListAdd div {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  margin-top: 0.5rem;
  align-items: flex-start;
}
.addRecipie #addRecForm #directionListAdd div input[type=text], .addRecipie #addRecForm #directionListAdd div textarea {
  padding-left: 0.5rem;
  margin-right: 1rem;
  background-color: #daaf61;
  color: #222015;
  border-radius: 10px;
  font-size: 2.2rem;
}
.addRecipie #addRecForm #directionListAdd div input[type=checkbox] {
  margin-left: 0.75rem;
  align-self: flex-start;
  margin-top: 0.25rem;
  background-color: #daaf61;
}
.addRecipie #addRecForm #directionListAdd div p {
  margin-left: 0.5rem;
}
.addRecipie #addRecForm input[type=submit] {
  align-self: center;
  background-color: #be5231;
  color: #e9dce0;
  width: 40%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  padding: 0.75rem 0;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.addRecipie #addRecForm input[type=submit]:hover {
  background-color: #ad4120;
}

.addBtn {
  background-color: #39cc26;
  color: #e8e9e8;
  border: 2px solid #e8e9e8;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.rmBtn {
  background-color: #ec3131;
  color: #f1dfdf;
  border: 2px solid #f1dfdf;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.loadingScreen {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loadingScreen p {
  font-size: 2rem;
}
.loadingScreen .loadSubH {
  font-size: 1.5rem;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #201d16;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mobModal {
  position: absolute;
  z-index: 32000;
  width: 100vw;
  margin-top: 0;
  height: 100vh;
  background-color: #bdab7c;
  color: #212121;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobModal p {
  padding: 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
}
.mobModal p:hover, .mobModal p:focus {
  background-color: #ac9a6b;
}

#main {
  height: 100%;
  min-height: 42rem;
  display: flex;
  flex-direction: column;
  background-color: #f8e3d4;
}

.modal {
  position: absolute;
  top: 0rem;
  left: 25%;
  width: 50%;
  background-color: #f5f0d4;
  color: #37382b;
  height: 4rem;
  border-radius: 10px;
  animation: animModal 4s forwards;
  animation-timing-function: cubic-bezier(1, 0.11, 0.3, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal p {
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
}

@keyframes animModal {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: property;
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(0, 5rem);
    -ms-transform: translate(0, 5rem);
    transform: property;
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, 5rem);
    -ms-transform: translate(0, 5rem);
    transform: property;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: property;
  }
}
@media screen and (max-width: 970px) {
  #recipieDetails {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 870px) {
  #recipieDetails .recBox .ingredients .ingredient {
    width: 30%;
  }

  .hero .ctaBox {
    width: 65%;
  }
}
@media screen and (max-width: 700px) {
  .addRecipie #addRecForm label {
    margin-left: 0.5rem;
  }
  .addRecipie #addRecForm label input[type=text], .addRecipie #addRecForm label input[type=number] {
    margin-left: 0;
  }
  .addRecipie #addRecForm #directionListAdd div, .addRecipie #addRecForm #ingredientListAdd div {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-direction: column !important;
  }
  .addRecipie #addRecForm #directionListAdd div input[type=text], .addRecipie #addRecForm #directionListAdd div select, .addRecipie #addRecForm #ingredientListAdd div input[type=text], .addRecipie #addRecForm #ingredientListAdd div select {
    width: 50%;
  }
  .addRecipie #addRecForm #directionListAdd div .btns, .addRecipie #addRecForm #ingredientListAdd div .btns {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    flex-direction: row !important;
  }
  .addRecipie #addRecForm #directionListAdd div textarea, .addRecipie #addRecForm #ingredientListAdd div textarea {
    width: 60%;
  }
}
@media screen and (max-width: 590px) {
  #recipieDetails .closeBtn {
    margin-top: 38px;
  }
  #recipieDetails .recBox .ingredients .ingredient {
    width: 45%;
  }

  .hero .ctaBox {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav .mobileNavBox {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 5rem;
  }
  nav .mobileNavBox .hamburgerWrapper {
    height: 100%;
    width: 100%;
  }
  nav .mobileNavBox .hamburgerWrapper i {
    font-size: 3.5rem;
    cursor: pointer;
  }
  nav .navBox, nav #loginBox {
    display: none;
  }

  .modal {
    width: 75%;
    left: 12.5%;
  }

  #recipiePage .recBox {
    width: 95%;
  }
}
@media screen and (max-width: 390px) {
  #recipieDetails .recBox .ingredients .ingredient {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  overflow-x: hidden;
}

/*# sourceMappingURL=index.css.map */
