.modal {
    position: absolute;
    top: 0rem;
    left: 25%;
    width: 50%;
    background-color: $modal-background;
    color: $modal-font;
    height: 4rem;
    border-radius: 10px;
    animation: animModal 4s forwards;
    animation-timing-function: cubic-bezier(1,.11,.3,1);
    @include flex-row();
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        font-size: 2rem;
        font-family: $font-p;
    }
}

@keyframes animModal {
    0% {
        opacity: 0;
        @include transform(translate(0, 0));
    }
    10% {
        opacity: 1;
        @include transform(translate(0, 5rem));
    }
    75% {
        opacity: 1;
        @include transform(translate(0,5rem));
    }
    100% {
        opacity: 0;
        @include transform(translate(0,0));
    }
}